<p id="notice"><%= notice %></p>

<p>
  <strong>Путь:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Станции в маршруте:</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
      На данном маршруте сейчас нет станций. Вы можете <%= link_to 'Добавить', edit_route_path(@route) %>  их.
  <% else %>
      <%= render 'route_stations' %>
  <%end %>
</p>


<p>
  <strong>Поезда на маршруте:</strong>
</p>
<p>
  <% if @route.trains.empty? %>
      Поездов на маршруте нет
  <% else %>
      <%= render 'route_trains' %>
<%end %>
</p>


<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
