<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>На станции</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <%end %>
</p>

<p>
  <strong>Маршрут</strong>
  <% if @train.route.present? %>
      <%= @train.route.title %>
  <% else %>
      Маршрут еще не назначен
  <%end %>
</p>

<p>
  <strong>Номера вагонов</strong>
  <% if @train.carriages.empty? %>
    У поезда нет вагонов
  <% else %>
      <%= render 'carriages' %>
  <% end %>
</p>

<%= link_to 'Добавить вагон', new_train_carriage_path(@train) %> |
<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
