<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>На станции</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <%end %>
</p>

<p>
  <strong>Маршрут</strong>
  <% if @train.route.present? %>
      <%= @train.route.title %>
  <% else %>
      Маршрут еще не назначен
  <%end %>
</p>

<p>
  <strong>Количество вагонов</strong>
  <%= @train.carriages.count %>
</p>


<p>
  <strong>Количество мест:</strong>
<ul>
  <% if @train.carriages.present? %>
    <p>
      <strong>Плацкарт:</strong></br>
      Верхних: <%= @train.carriages.econom_car.sum('number_top_place') %></br>
      Нижних: <%= @train.carriages.econom_car.sum('number_bottom_place') %>
    </p>
    <p>

    <p>
      <strong>Купе:</strong></br>
      Верхних: <%= @train.carriages.com_car.sum('number_top_place') %> </br>
      Нижних: <%= @train.carriages.com_car.sum('number_bottom_place') %>
    </p>
    <p>

  <% else %>
      Этот поезд еще без вагонов
  <% end %>
</ul>

</p>


<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
