<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>На станции</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <%end %>
</p>

<p>
  <strong>Маршрут</strong>
  <% if @train.route.present? %>
      <%= @train.route.title %>
  <% else %>
      Маршрут еще не назначен
  <%end %>
</p>

<p>
  <strong>Количество вагонов</strong>
  <%= @train.carriages.count %>
</p>


<p>
  <strong>Вагоны</strong>
<ul>
  <% if @train.carriages.present? %>
    <p>
      <strong>Кол-во плацкартных вагонов:</strong>
      <%= @train.carriages.map(&:type_wagon).count("Плацкартный") %>
    </p>
    <p>
      <strong>Кол-во купейных вагонов:</strong>
      <%= @train.carriages.map(&:type_wagon).count("Купейный") %>
    </p>
    <p>
      <strong>Всего верхних мест</strong>
      <%= @train.carriages.map(&:number_top_place).reduce(:+) %>
    <p>
      <strong>Всего нижних мест:</strong>
      <%= @train.carriages.map(&:number_bottom_place).reduce(:+) %>
    </p>
  <% else %>
      Этот поезд еще без вагонов
  <% end %>
</ul>

</p>


<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
