<h1> Покупка билетов на поезд! </h1>

<p><%= link_to 'Поезда', admin_trains_path %></p>
<p><%= link_to 'Станции', admin_railway_stations_path %></p>
<p><%= link_to 'Маршруты', admin_routes_path %></p>

<p><%= link_to 'Билеты', admin_tickets_path %></p>
<p><%= link_to 'Поиск билетов', search_path %></p>