<%= form_for (@ticket) do |f| %>
  <%= render 'common/errors', resourse: @ticket %>

  <%= f.hidden_field :train_id %>
  <%= f.hidden_field :start_station_id %>
  <%= f.hidden_field :end_station_id %>

  <div class="field">
     <%= f.label :passenger_name, 'ФИО' %>
     <%= f.text_field :passenger_name %>
  </div>

  <div class="field">
     <%= f.label :passenger_number, 'Данные паспорта' %>
     <%= f.text_field :passenger_number %>
  </div>

  <div class="actions">
     <%= f.submit 'Купить' %>
  </div>
<% end %>