<p>
  <strong>Номер поезда:</strong>
  <%= @ticket.train.number %>
</p>

<p>
  <strong>Начальная станция:</strong>
  <%= @ticket.start_station.title %>
</p>

<p>
  <strong>Конечная станция:</strong>
  <%= @ticket.end_station.title %>
</p>

<p>
  <strong>Имя пассажира:</strong>
  <%= @ticket.passenger_name %>
</p>

<p>
  <strong>Паспорт:</strong>
  <%= @ticket.passenger_number %>
</p>

<p>
  <strong>Email пользователя:</strong>
  <%= @ticket.user.email %>
</p>

<%= link_to 'Список билетов', admin_tickets_path, class: 'btn btn-success', type: "button" %>