<h1>Поиск билетов</h1>

<%= form_for(@search, method: :post, url: search_path) do |f| %>
    <div class="field">
       <%= f.label :start_station_id, 'Станция отправления' %>
        <%= f.collection_select :start_station_id, RailwayStation.all, :id, :title %>
    </div>
    <div class="field">
      <%= f.label :end_station_id, 'Станция прибытия' %>
      <%= f.collection_select :end_station_id, RailwayStation.all, :id, :title %>
    </div>

    <div class="actions">
      <%= f.submit 'Поиск' %>
    </div>

    <% if @search.result %>
        <h2><%= 'Список доступных поездов:' %></h2>
        <table>
          <thead align="center">
          <tr>
              <td><%= 'Поезд' %></td>
              <td><%= 'Маршрут' %></td>
              <td><%= 'Время отправления' %></td>
              <td><%= 'Время прибытия' %></td>
          </tr>
          </thead>
          <tbody>

          <% @search.result.each do |train| %>
              <tr>
              <td><%= train.number %></td>
              <td><%= train.route.title %></td>
              <td><%= @search.start_station.up_time(train.route, :arrival_time) %></td>
              <td><%= @search.end_station.up_time(train.route, :departure_time) %></td>
              <td>
                 <%= form_tag new_ticket_path, method: :get do %>
                    <%= link_to 'Купить билет', new_ticket_path(train_id: train.id, start_station_id: @search.start_station_id,
                        end_station_id: @search.end_station_id ) %>
                 <% end %>
              </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>

<% end %>