<ul>
  <% @route.railway_stations.ordered.each do |station| %>
      <li><%= station.title %> </li>
      <%= form_tag update_position_order_railway_station_path(station), method: :patch do %>
          <%= number_field_tag :position, station.position_in(@route) %>
          <%= hidden_field_tag :route_id, @route.id %>
          <%= submit_tag 'Изменить' %>
      <% end %>
  <% end %>
</ul>