<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in?  %>
      <p>Добро пожаловать: <%= current_user.first_name  %> <%= current_user.last_name  %></p>
      <%= link_to "Выйти",  destroy_user_session_path, method: :delete %>

  <% else %>
      <%= link_to "Войти",  new_user_session_path %>
  <% end %>

  <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
